.App {
  text-align: center;
  height: 100vh !important;
  background-color: #b3cde0 !important;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #b3cde0 !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.buttonAlign {
  margin-top: 100px;
  text-align: center !important;
  background-color: #35495e;
  border: none;
}
.primaryBackground {
  background-color: #6497b1 !important;
}

.text {
  color: #005b96;
}
.card {
  width: 90%;
  font-display: text-center;
  display: inline-block;
}
.buttonColor {
  background-color: #011f4b;
}
